<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testpage | Go Application</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
  <main class="container">
    <h1 class="text-center">EXERCISE PAGE</h1>
    <hr>
    <p><strong>Title:</strong> Test a simple code</p>
    <p><strong>Description:</strong> This is description for this solution test code</p>
    <form action="" method="post">
      <input type="file" name="file" id="file">
      <br>
      <button type="submit" class="btn btn-danger mt-3">Send</button>
    </form>
  </main>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>