<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Testpage | Go Application</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
  <main class="container">
    <h1 class="text-center">VALIDATE EXSERCISE</h1>
    <hr>
    <p>Exercise 1: <a href="./exercise_test.html">Test a simple code</a></p>
    <p>Exercise 2: <a href="./exercise_test.html">Test a simple code</a></p>
  </main>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>